<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="CamStation Viewer" />
    </StandardDirectory>
    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="CamStationProgramData" Name="CamStation">
        <Directory Id="ViewerProgramData" Name="Viewer">
          <Directory Id="ViewerLogs" Name="Logs" />
          <Directory Id="ViewerUpdates" Name="Updates" />
        </Directory>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="CamStationStartMenu" Name="CamStation" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />
  </Fragment>
</Wix>
